h1{
    color: red;
}

.cover {
    height: 300px;
    width: auto;
}

 body {
    font-family: Arial, sans-serif;
}
.custom_container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom_container h2 {
    text-align: center;
}

.custom_container form {
    margin-top: 20px;
}

.custom_container form label {
    display: block;
    margin-bottom: 5px;
}

.custom_container form input[type="text"],
.custom_container form input[type="email"],
.custom_container form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.custom_container form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.custom_container form button:hover {
    background-color: #45a049;
}