{% extends 'core/base.html' %}

{% block title %} SGC | Crear Hoja de Ruta {% endblock title %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row">
    <div class="card">
        <div class="card-header">Hoja de ruta</div >
        
        {% if user.pk and user.profile.unidad.sigla_unidad == "CM" %}
        <form action="" method="POST" class="form-control">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="" value="Enviar">
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}