{% extends 'core/base.html' %}


{% block content %}


<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">Destinatario</th>
            <th scope="col" class="text-center">Número fojas</th>
            <th scope="col" class="text-center">Tipo</th>
            <th scope="col" class="text-center">Asunto</th>
            <th scope="col" class="text-center">Fecha</th>
            <th scope="col" class="text-center">Acciones</th>
        </tr>
    </thead>

    {% for d in obj_enviado %}
        {% if user.pk == d.usuario_rtte.pk %}
    
    <tr>
        <td class="text-center">{{ d.usuario_destino }}</td>
        <td class="text-center">{{ d.numero_fojas }}</td>
        <td class="text-center">{{ d.tipo_hoja_ruta }}</td>
        <td class="text-center">{{ d.asunto_hoja_ruta }}</td>
        <td class="text-center">{{ d.fecha_derivado }}</td>
        <td class="text-center">
            <button type="button" class="btn btn-primary text-wrap">Ver archivo</button>
            <button type="button" class="btn btn-danger">Cancelar</button>
        </td>
    </tr>
    
        {% endif %}
    {% endfor %}
        
    
</table>


{% endblock %}