{% extends 'core/base.html' %}


{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Remitente</th>
            <th scope="col">Destinatario</th>
            <th scope="col">Número fojas</th>
            <th scope="col">Tipo</th>
            <th scope="col">Asunto</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tr>
    {% for d in obj_enviado %}
        <td>{{ d.id }}</td>
        <td>{{ d.usuario_rtte }}</td>
        <td>{{ d.usuario_destino }}</td>
        <td>{{ d.numero_fojas }}</td>
        <td>{{ d.tipo_hoja_ruta }}</td>
        <td>{{ d.fecha_derivado}}</td>
    {% endfor %}
    </tr>
        
    
</table>



{% endblock %}