{% extends 'core/base.html' %}


{% block content %}
<br>
{% if request.user.is_authenticated %}

<div class="card">
    <h5 class="card-header" style="background: #01a2c6; color: whitesmoke;">Hoja de ruta</h5>
    <form action="" class="form-control">
        <label><b>Remitente: </b></label>
        <input type="" name="" class="border-0" value="{{user.first_name}} {{user.last_name}}">
        <br>
        <label><b>Oficina:</b></label>
        <input type="" name="" class="border-0" value="{{user.profile.oficina}}">
        <br>
        <label><b>Cargo: </b></label>
        <input type="" name="" class="border-0" value="{{user.profile.cargo}}">
        <br><br>
        <label for="">Destinatario</label>
        <input type="text" class="form-control">
        <label for="">Asunto</label>
        <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea>
        
        <label for="">Adjuntar</label>
        <input type="file" class="form-control">
        <label for="">Numero fojas</label>
        <input type="number">
        <br><br>
        <input type="submit" class="btn btn-primary" value="Crear y enviar">
        
    </form>

</div>

{% else %}
	<div class="col-md-12 text-center">
		<div>
			<h3>Sistema Gestión de Correspondencia</h3>
		</div>
		<div class="">
      		<img src="media/files.png">
    	</div>
	</div>
{% endif %}


{% endblock %}