{% extends 'core/base.html' %}




{% block content %}
<br>
{% if request.user.is_authenticated %}
<div class="row">
	<div class="col-md-3">
		<div class="card">
			<img src="{{ user.profile.image.url }}" class="" alt="...">
			<div class="card-body">
				<h4 class="card-title text-primary">{{ user.first_name }} {{ user.last_name }}</h4>
				<p><b>User: </b>{{ user.username | upper }}</p>
				<p><b>Oficina: </b>{{ user.profile.oficina }}</p>
				<p><b>Cargo: </b>{{ user.profile.cargo }}</p>
				<a href="{% url 'logout' %}" class="btn btn-info">Cerrar sesión</a>
			</div>
		</div>
	</div>

	<div class="col-md-12 text-center">
		<div>
			<h3>Sistema Gestión de Correspondencia</h3>
		</div>
		<div class="">
      		<img src="media/files.png">
    	</div>
	</div>
	
	
</div>


{% else %}
	<div class="col-md-12 text-center">
		<div>
			<h3>Sistema Gestión de Correspondencia</h3>
		</div>
		<div class="">
      		<img src="media/files.png">
    	</div>
	</div>
{% endif %}


{% endblock %}