{% extends 'core/base.html' %}

{% block title %} SGC | Inicio {% endblock title %}

{% block content %}
<br>
{% if request.user.is_authenticated %}
	<div class="text-center">
		<div>
			<img src="{{ user.profile.image.url }}" alt="hugenerd" class="rounded-circle">
			<br><br>
			<h4 class="card-title text-primary">{{ user.first_name }} {{ user.last_name }} </h4>
			<p><b>User: </b>{{ user.username | upper }}</p>
			<p><b>Unidad: </b>{{ user.profile.unidad }}</p>
			<p><b>Cargo: </b>{{ user.profile.cargo }}</p>
		</div>
		<div class="">
      		<img src="media/files.png" height="200">
    	</div>
	    <div>
			<h3>Sistema de Gestión de Correspondencia</h3>
			<br>
		</div>
	</div>

{% else %}
	<div class="col-md-12 text-center">
		<div>
			<h3>Sistema Gestión de Correspondencia</h3>
		</div>
		<div class="">
      		<img src="media/files.png">
    	</div>
		<a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
	</div>
{% endif %}


{% endblock %}