{% extends 'core/base.html' %}


{% block content %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Remitente</th>
			<th scope="col">Codigo</th>
			<th scope="col">Fecha envio</th>
			<th scope="col">Tipo</th>
			<th scope="col">Asunto</th>
			<th scope="col">Acciones</th>
		</tr>
		<tr>
			<td>
				<button type="button" class="btn btn-primary text-wrap">Recibir</button>
				<button type="button" class="btn btn-success">Success</button><br>
				<button type="button" class="btn btn-danger">Danger</button>
				<button type="button" class="btn btn-warning">Warning</button><br>
				<button type="button" class="btn btn-info">Info</button>
			</td>
		</tr>
	</thead>
</table>

{% endblock %}