{% extends 'core/base.html' %}

{% block title %} SGC | Recibido {% endblock title %}

{% block content %}
<table class="table">
	<thead>
		<tr>
			<th scope="col" class="text-center">Código</th>
			<th scope="col" class="text-center">Remitente</th>
			<th scope="col" class="text-center">Número fojas</th>
			<th scope="col" class="text-center">Tipo hoja ruta</th>
			<th scope="col" class="text-center">Asunto</th>
			<th scope="col" class="text-center">Acciones</th>
		</tr>
	</thead>
	{% for d in obj_recibido %}
		{% if user.pk == d.usuario_destino.pk and not d.devuelto %}
		<tr>
			<td class="text-center">{{ d.codigo }}</td>
			<td class="text-center">{{ d.usuario_rtte }}</td>
			<td class="text-center">{{ d.numero_fojas }}</td>
			<td class="text-center">{{ d.tipo_hoja_ruta }}</td>
			<td class="text-center">{{ d.asunto_hoja_ruta}}</td>
			<td class="text-center">
				<a href="#" class="btn btn-primary">Archivar</a><br>
				<a href="#" class="btn btn-info">Devolver</a><br>
				<a href="#" class="btn btn-danger">Cancelar</a>
			</td>
		</tr>
		{% endif %}
	{% endfor %}
</table>


{% endblock %}