
{% extends '_base.html' %}
{% load static %}

{% block title %}SGC{% endblock title %}

{% block content %}
<form>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Datos remitente</h4>
            <div class="form-group">
                <label>Código</label>
                <input type="text" name="codigo">
            </div>
            <div class="form-group">
                <label>Remitente</label>
                <select class="from-control">
                    <option>John Doe</option>
                    <option>John Wick</option>
                    <option>Rick Hunter</option>                        <option>Thomas A. Anderson</option>
                </select>
            </div>
            <div class="form-group">
                <label>Oficina</label>
                <select class="from-control">
                    <option>Administración</option>
                    <option>Recursos Humanos</option>
                    <option>Tecnologías</option>
                    <option>Operaciones</option>
                </select>
            </div>
            <div class="form-group">
                <label>Cargo</label>
                <select class="from-control">
                    <option>Administrador</option>
                    <option>Responsable RRHH</option>
                    <option>Responsable tecnología</option>
                    <option>Supervisor operaciones</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tipo</label>
                <select class="from-control">
                    <option>Informe</option>
                    <option>Nota interna</option>
                </select>
            </div>
            <div class="form-group">
                <label>Comentario</label>
                <textarea class="from-control" rows="1"></textarea>
            </div>
            <h4 class="card-title">Datos remitente</h4>
            <div class="form-group">
                <label>Remitente</label>
                <select class="from-control">
                    <option>John Doe</option>
                    <option>John Wick</option>
                    <option>Rick Hunter</option>                        <option>Thomas A. Anderson</option>
                </select>
            </div>
            <div class="form-group">
                <label>Oficina</label>
                <select class="from-control">
                    <option>Administración</option>
                    <option>Recursos Humanos</option>
                    <option>Tecnologías</option>
                    <option>Operaciones</option>
                </select>
            </div>
            <div class="form-group">
                <label>Cargo</label>
                <select class="from-control">
                    <option>Administrador</option>
                    <option>Responsable RRHH</option>
                    <option>Responsable tecnología</option>
                    <option>Supervisor operaciones</option>
                </select>
            </div>
        </div>
    </div>
    <input type="submit" name="" class="btn btn-primary">
</form>
{% endblock content %}
