{% extends '_base.html' %}
{% load static %}

{% block title %}SGC{% endblock title %}

{% block content %}
<h1>Homepage</h1>
<img class="cover" src="{% static 'images/godzilla03.png' %}">

{% if user.is_authenticated %}
    <p>Bienvenido {{ user.email }}!</p>
    <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
{% else %}
    <p>No has iniciado sesión</p>
    <p><a href="{% url 'login' %}">Iniciar sesión</a> | <a href="{% url 'signup' %}">Registrarse</a></p>
{% endif %}

{% endblock content %}