
{% extends '_base.html' %}
{% load static %}

{% block title %}SGC{% endblock title %}

{% block content %}
<div class="text-center">
    <br><br>
    <h1>Sistema Gestión de Correspondencia</h1>
<img class="cover" src="{% static 'images/files.png' %}">
{% if user.is_authenticated %}
    <p>Bienvenido {{ user.email }}!</p>
    <p><a href="{% url 'account_logout' %}">Cerrar sesión</a></p>
{% else %}

<p><a href="{% url 'account_login' %}">Iniciar sesión</a> <span style="color: grey;">|</span> <a href="{% url 'account_signup' %}">Registrarse</a>
</p>
</div>
{% endif %}
{% endblock content %}
