
{% extends '_base.html' %}
{% load static %}

{% block title %}SGC{% endblock title %}

{% block content %}
<h1>SGC</h1>
<img class="cover" src="{% static 'images/godzilla03.png' %}">
{% if user.is_authenticated %}
    <p>Bienvenido {{ user.email }}!</p>
    <p><a href="{% url 'account_logout' %}">Cerrar sesión</a></p>
{% else %}
<p>No está registrado</p>
<p><a href="{% url 'account_login' %}">Iniciar sesión</a> |
    <a href="{% url 'account_signup' %}">Registrarse</a>
</p>
{% endif %}
{% endblock content %}
